#gamecards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: visible;
  gap: 2rem;
  padding: 60px 80px 20px 80px;
  scroll-behavior: smooth;
  max-width: calc(100vw - 100px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#wrapper {
  max-width: calc(100% - 100px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.card:hover {
  z-index: 10;
}

#menu {
  border: #ffffff 1px solid;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  padding: 10px 15px;
  gap: 20px;
  background-color: #242424;
}

@media screen and (max-width: 768px) {
  #gamecards {
    padding: 60px 70px 20px 70px;
    max-width: calc(100vw - 80px);
  }

  #wrapper {
    max-width: calc(100% - 80px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  #gamecards {
    padding: 60px 60px 20px 60px;
    max-width: calc(100vw - 70px);
  }

  #wrapper {
    max-width: calc(100% - 70px);
    margin: 0 auto;
  }
}